img {
    display: block;
    margin: 0px auto;
}

header {
    background-color: #C4C4C4;
    text-align: center;
    height: 60px;
    margin-bottom: 60px;
}

h1 {
    color: #005677;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 84.69%;
}

span {
    font-weight: bold;
}

.spanLista {
    font-style: italic;
}

table {
    border: 0px;
    margin-left: 10px;
}

.titulo {
    background-color: #C4C4C4;
    color:  #005677;
    /*font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;*/
    height: 30px;
    /*display:inline-block;*/
    vertical-align: middle;
    /*line-height: normal;*/
    padding-top: 5px;
    margin-bottom: 15px;
    margin-top: 20px;
}

h1 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 84.69%;
    padding: 1% !important;
    margin: 0px !important;
}

h3 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    margin: 5px !important;
}

footer {
    margin-top: 60px;
    background-color: #005677;
    height: 37px;
    color: white;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    text-align: center;
}

.tableContent {
    margin: auto;
}

.tdContent {
    padding: 5px;
}
